<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body >
    <%- include('partials/navigation') %>

    <!--<section class="main" >
      <div class="fullContent">
        <div class="otro" >
            <div class="imgAbner "></div>
        
        <div class="infoIndex ">
          <p>Abner Emanuel Gutierrez Altamirnao</p>
          <p><span>Front-end</span> web developer</p>
          <a style="text-decoration: none;" href="/about"><p style="color: #00f;">Know me</p></a>
          <a href="tel:+527341330970" style="text-decoration: none;"><p>+(52) 734-133-09-70</p></a>
        </div>
      </div>
      </div>
    </section>-->

    <%- include('about') %>
    <%- include('projects') %>
    <%- include('contact') %>

   <%- include('partials/footer') %>
  </body>
</html>
